{
    "plugins": [
        "wdio",
        "webdriverio"
    ],
    "extends": "plugin:wdio/recommended",
    "env": {
        "webdriverio/wdio": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
